---
import BaseLayout from "@layouts/BaseLayout.astro"

import { getCollection, getEntry } from 'astro:content';

import AboutSectionWeb from "@components/AboutSectionWeb.astro"
import AboutMDProse from "@components/AboutMDProse.astro"
import AboutIntroWeb from "@components/AboutIntroWeb.astro"

import TempSideProject from "@components/TempSideProject.astro"

const { data: abstract } = await getEntry('about', '01-abstract');

const { Content: Intro } = await (await getEntry('about', '02-intro')).render();
const { Content: Skill } = await (await getEntry('about', '03-skill')).render();
const { Content: Education } = await (await getEntry('about', '04-education')).render();
const { Content: Work } = await (await getEntry('about', '05-work')).render();
const { Content: Projects } = await (await getEntry('about', '06-projects')).render();
const { Content: SideProjects } = await (await getEntry('about', '07-side-projects')).render();

---

<BaseLayout title="Chaiyapat Tantiworachot" cover={String(new URL('ogimage-about.png', Astro.site))} description={abstract.short}>
  <div class="bg-reader dark:bg-reader-dark">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 p-2 max-w-container mx-auto">
      <header class="md:col-span-2">
        <AboutIntroWeb></AboutIntroWeb>
      </header>
      <div class="space-y-2 block md:hidden">
        <AboutSectionWeb><AboutMDProse class="prose-sm"><Intro /></AboutMDProse></AboutSectionWeb>
        <AboutSectionWeb><AboutMDProse><Work /></AboutMDProse></AboutSectionWeb>
        <AboutSectionWeb><AboutMDProse class="prose-sm"><Projects /></AboutMDProse></AboutSectionWeb>
        <AboutSectionWeb><AboutMDProse><Education /></AboutMDProse></AboutSectionWeb>
        <AboutSectionWeb><AboutMDProse class="prose-sm"><Skill /></AboutMDProse></AboutSectionWeb>
        <AboutSectionWeb><AboutMDProse class="prose-sm"><SideProjects /></AboutMDProse></AboutSectionWeb>
      </div>
      <div class="space-y-2 hidden md:block">
        <AboutSectionWeb><AboutMDProse><Work /></AboutMDProse></AboutSectionWeb>
        <AboutSectionWeb><AboutMDProse class="prose-sm"><Projects /></AboutMDProse></AboutSectionWeb>
        <AboutSectionWeb><AboutMDProse><SideProjects /></AboutMDProse></AboutSectionWeb>
      </div>
      <div class="space-y-2 hidden md:block">
        <AboutSectionWeb><AboutMDProse ><Education /></AboutMDProse></AboutSectionWeb>
        <AboutSectionWeb><AboutMDProse class="prose-sm"><Intro /></AboutMDProse></AboutSectionWeb>
        <AboutSectionWeb><AboutMDProse class="prose-sm"><Skill /></AboutMDProse></AboutSectionWeb>
      </div>
    </div>
  </div>
</BaseLayout>