<section class="
  prose max-w-none mx-auto leading-tight
  dark:text-neutral-300
  dark:prose-h1:text-primary-700
  dark:prose-h2:text-primary-700
  dark:prose-h3:text-primary-700
  dark:prose-strong:text-neutral-300
  dark:prose-a:text-neutral-300
  prose-h1:font-display prose-h2:font-display prose-h3:font-display
  prose-h1:font-bold prose-h2:font-bold prose-h3:font-bold
  prose-h1:text-2xl prose-h1:mt-2 prose-h1:mb-4
  prose-h2:text-xl
  prose-h2:mb-0 prose-h2:mt-2 prose-h2:pt-4
  prose-h2:border-t prose-h2:border-gray-300 dark:prose-h2:border-gray-700
  prose-h3:mt-2
  prose-h3:text-base
  prose-li:text-sm prose-li:leading-tight
  hover:prose-a:opacity-75
  prose-img:max-w-[200px] prose-img:my-1 prose-img:rounded sm:prose-img:float-right sm:prose-img:ml-4 prose-img:border prose-img:border-gray-500/10
  prose-figcaption:hidden
  prose-em:text-sm prose-em:text-gray-500 prose-em:block prose-em:-mt-3 prose-em:-mb-2 prose-em:leading-tight
  prose-li:my-1">
    <slot />
</section>