---
import FluentEmojiLeafFlutteringInWind from '~icons/fluent-emoji/leaf-fluttering-in-wind'
import FluentEmojiSeedling from '~icons/fluent-emoji/seedling'
import FluentEmojiEvergreenTree from '~icons/fluent-emoji/evergreen-tree'

const { stage, onlyIcon } = Astro.props;

const stages = [
  { name: 'Note', classes: 'bg-neutral-100 dark:bg-neutral-900 dark:border-neutral-800' },
  { name: 'Sapling', classes: 'text-green-800 dark:text-green-200 bg-neutral-200 dark:bg-neutral-800 border-neutral-300 dark:border-neutral-600' },
  { name: 'Evergreen', classes: 'text-green-800 dark:text-green-300 bg-green-200 dark:bg-green-900 border-green-300 dark:border-green-700' },
]
---

<div class={`${(!onlyIcon) ? `flex gap-1 text-sm font-medium px-1 rounded border ${stages[stage].classes}` : '' }`}>
  { stage === 0 && <FluentEmojiLeafFlutteringInWind aria-hidden="true"></FluentEmojiLeafFlutteringInWind>}
  { stage === 1 && <FluentEmojiSeedling aria-hidden="true"></FluentEmojiSeedling>}
  { stage === 2 && <FluentEmojiEvergreenTree aria-hidden="true"></FluentEmojiEvergreenTree>}
  <span class={(onlyIcon) ? 'sr-only' : ''}>{stages[stage].name}</span>
</div>