<section class="
  prose mx-auto dark:prose-invert font-essay
  prose-a:text-primary-900 dark:prose-a:text-primary-300
  hover:prose-a:opacity-75
  prose-img:rounded
  prose-h1:text-2xl prose-h2:text-xl prose-h3:text-lg prose-h4:text-lg prose-h5:text-lg prose-h6:text-lg
">
  <slot />
</section>