---
const { style } = Astro.props
---

<style is:inline set:html={style}></style>
<section class="
  prose mx-auto dark:prose-invert font-essay
  prose-a:text-primary-900 dark:prose-a:text-primary-300
  hover:prose-a:opacity-75
  sm:prose-img:rounded prose-img:border prose-img:bg-neutral-300 prose-img:dark:bg-neutral-800
  prose-img:max-h-[420px] prose-img:mx-auto
  prose-figcaption:text-center
  prose-figure:-mx-4 md:prose-figure:-mx-8 sm:prose-figure:mx-0
  prose-h1:border-b prose-h1:pb-2 prose-h1:border-gray-500/40
  prose-h1:text-2xl prose-h2:text-xl prose-h3:text-lg prose-h4:text-lg prose-h5:text-lg prose-h6:text-lg
"
>
  <slot />
</section>